$font-stack             : Helvetica, sans-serif;
$fallback-font          : system-ui, -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
$font-stack             : 'Inter', 'Inter UI', Inter, Inter UI, $fallback-font;
$font-light-theme       : #333;
$background-light-theme : #fff;

$font-dark-theme        : #fff;
$background-dark-theme  : #212121;

:root {
	--background-color: #fff;
}

.dark-theme {
	color            : $font-dark-theme;
	background-color : $background-dark-theme;
	--background-color: #212121;
	
	.nav-list {
		a {
			color : $font-dark-theme;
		}
	}
	
	.links {
		margin : 0;
		color  : $font-dark-theme
	}
	
	.night-mode-btn {
		color : $font-dark-theme;
		
		svg {
			fill : $font-dark-theme;
		}
	}
	
	.link-btn {
		color : $font-dark-theme;
	}
	
	.blog-single {
		color : $font-dark-theme;
	}
	
	footer {
		a {
			color : $font-dark-theme;
		}
	}
}

body {
	// font               : 100% $font-stack;
	margin             : 0;
	padding            : 0;
	color              : $font-light-theme;
	background-color   : $background-light-theme;
	width              : 100vw;
	min-height         : 100vh;
	// display            : grid;
	// grid-template-rows : auto 1fr auto;
	display : flex;
	flex-direction : column;
	justify-content : space-between;
	
	nav {
		padding             : 0.75rem;
		justify-content     : space-between;
		width               : 90%;
		margin-right        : auto;
		margin-left         : auto;
		display             : flex;
		align-items         : center;
		border-style        : solid;
		border-width        : 0;
		border-bottom-width : 1px;
		
		.nav-list {
			display     : flex;
			align-items : center;
			@extend %list-reset;
			
			a {
				margin-right    : 2rem;
				text-decoration : none;
				color           : $font-light-theme;
				
				&:hover {
					text-decoration : underline;
				}
				
			}
		}
		
		[aria-current='page'] {
			pointer-events: none;
			opacity : 0.25;
		}
		
		.logo {
			margin      : 0;
			font-weight : bold;
			font-size   : medium;
		}
		
		.night-mode-btn {
			color            : $font-light-theme;
			background-color : transparent;
			border           : none;
			cursor : pointer;
			@extend %fix-iOS-tap-highlight;
			svg {
				fill : $font-light-theme;
			}
		}
	}
	
	main {
		width        : 90%;
		margin : auto;
		background-color : $background-light-theme;
		flex-grow : 1;
		padding : 2em 0 !important;
		section {
			padding : 0;
			margin : 0 auto;
		}
		a {
			color           : #14847e;
			text-decoration : none;
			
			&:hover {
				text-decoration : underline;
			}
		}
	}
	
	.article-wrapper {
		margin-left  : auto;
		margin-right : auto;
		
		a {
			color           : #14847e;
			text-decoration : none;
			
			&:hover {
				text-decoration : underline;
			}
		}
		
		img {
			width : 100%;
			max-width : 640px;
			margin : 1em auto;
			text-align : center;
			display : block;
		}
	}
	
	.blog-list {
		padding : 2em;
		display : grid;
		gap     : 1rem;
		
		background-color : $background-light-theme;
		border-radius : 1em;
		margin-left : auto;
		margin-right : auto;
		text-align : center;
		
		a:hover {
			text-decoration : none;
		}
		
		
		& > * {
			text-align : left;
		}
	}
	
	.blog-single {
		color        : $font-light-theme;
		border-style : solid;
		border-width : 1px;
		padding      : 1rem;
		
		.title {
			font-weight : bold;
			font-size   : 1.5rem;
		}
		
		p {
			margin : 0;
		}
		
		.description {
			margin-top : 1rem;
		}
	}
	
	footer {
		justify-content  : space-between;
		width            : 90%;
		margin-right     : auto;
		margin-left      : auto;
		display          : flex;
		align-items      : center;
		// border-style     : solid;
		// border-width     : 0;
		// border-top-width : 1px;
		padding : 2em 0;
		text-align : center;
		p {
			font-size : small;
			text-align : center;
			line-height : 1;
			padding : 0;
			margin : 0 auto;
			vertical-align : middle;
			color: gray;
		}
		a {
			margin          : 0;
			color           : $font-light-theme;
			display         : inline-block;
			text-decoration : none;
			
			&:hover {
				text-decoration : underline;
			}
		}
	}
	
	.text-lg {
		font-size   : 1.125rem;
		line-height : 1.75rem;
	}
	
	.paragraph {
		text-align : justify;
	}
	
	.link-btn {
		color        : $font-light-theme;
		padding      : 0.5rem;
		font-size    : small;
		border-style : solid;
		border-width : 1px;
		display      : inline-block;
	}
}

@media screen and (max-width : 1150px) {
	body {
		nav {
			width : 90%;
		}
		
		main {
			width : 90%;
		}
		
		footer {
			width : 90%;
		}
	}
}


html,body,main,header,nav,footer,.blog-list {
	background-color : var(--background-color) !important;
}

.nav-list {
	@media screen and (max-width: 560px) {
		display : flex;
		flex-direction : column;
		align-items : center;
		align-content : center;
		justify-content : flex-start;
		list-style: none;
		margin : 0 !important;
		width : 100%;
		gap: 0;
		li {
			display : block;
			width : 100%;
			margin : 0 !important;
			padding : 0 !important;
			a {
				width : 100%;
				display : block;
				text-align : center;
				margin : 0 !important;
				padding : 1em 0 !important;
			}
		}
	}
}

nav {
	@media screen and (max-width : 560px) {
		margin : 0 !important;
		padding : 2em 0 0 0 !important;
		width : 100% !important;
		display : block;
	}
}
.logo {
	@media screen and (max-width : 560px) {
		display : block;
		width : 100%;
		margin : 0;
		padding : 0;
		float : left;
		position : absolute;
		top : 0;
		left : 0;
		text-align : center;
	}
}
