
p {
	line-height   : 1.5;
	font-weight   : normal;
	font-family   : inherit;
	margin-bottom : 1em;
}

h1, h2, h3, h4, h5, h6 {
	margin      : 3rem 0 1.38rem;
	margin      : 0 auto 1.38rem;
	font-family : 'Inter', 'Inter UI', sans-serif;
	font-weight : 600;
	line-height : 1.3;
}

h1 {
	margin-top : 0;
	font-size  : 3.052em;
}

h2 {font-size : 2.441em;}

h3 {font-size : 1.953em;}

h4 {font-size : 1.563em;}

h5 {font-size : 1.25em;}

h6 {
	font-weight : 500;
	font-size   : 1.125rem;
}

small, .text_small {font-size : 0.8em;}
